#  <span style="color: green;">Proyecto de Procesamiento de Datos</span>

Dada la importancia de las plataformas digitales buscando informacion respecto a ellas, cargando sus datos, realizando un analisis exploratorio, para el procesamiento, visualizaciones y reporte del mismo con el alcance correspondiente.

Se importan las librerías que vamos a utilizar.

In [34]:
import pandas as pd
import numpy as np
import matplotlib as plt

Se cargan los archivos del set de datos.

In [4]:
prime = pd.read_csv('Prime_video/amazon_prime_titles.csv') #Lectura de Archivos
netflix = pd.read_csv('Netflix/netflix_titles.csv') #Lectura de Archivos
disney = pd.read_csv('Disney/disney_plus_titles.csv') #Lectura de Archivos
hbo = pd.read_csv('HBO_Max/titles.csv') #Lectura de Archivos
hbo2 = pd.read_csv('HBO_Max/credits.csv') #Lectura de Archivos

Se realiza vista previa de cada plataforma.

In [3]:
prime.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [457]:
disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [6]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [459]:
hbo.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6
1,tm83648,Citizen Kane,MOVIE,"Newspaper magnate, Charles Foster Kane is take...",1941,PG,119,['drama'],['US'],NaN,tt0033467,8.3,433804.0,14.383,8.0
2,tm77588,Casablanca,MOVIE,"In Casablanca, Morocco in December 1941, a cyn...",1942,PG,102,"['drama', 'romance', 'war']",['US'],NaN,tt0034583,8.5,558849.0,20.087,8.2
3,tm82363,The Big Sleep,MOVIE,Private Investigator Philip Marlowe is hired b...,1946,NaN,116,"['thriller', 'crime']",['US'],NaN,tt0038355,7.9,84494.0,12.911,7.7
4,tm84701,The Maltese Falcon,MOVIE,A private detective takes on a case that invol...,1941,NaN,100,"['thriller', 'romance', 'crime']",['US'],NaN,tt0033870,8.0,156603.0,12.788,7.8

In [460]:
hbo2.head()

,person_id,id,name,character,role
0,60017,tm155702,Judy Garland,Dorothy Gale,ACTOR
1,53496,tm155702,Ray Bolger,Hunk / Scarecrow,ACTOR
2,79549,tm155702,Jack Haley,Hickory / Tin Man,ACTOR
3,79548,tm155702,Bert Lahr,Zeke / Cowardly Lion,ACTOR
4,60995,tm155702,Margaret Hamilton,Elmira Gulch / Wicked Witch of the West,ACTOR

Se observa que los datos de HBO son diferentes al resto de los demas dataset. Asi se que se busca información de cada set, empezando por la extension de cada uno:

In [461]:
print('La extension de la tabla de Netflix es:', netflix.shape)
print('La extension de la tabla de Disney es:', disney.shape)
print('La extension de la tabla de Prime Video es:', prime.shape)
print('La extension de la tabla 1 de HBO es:', hbo.shape)
print('La extension de la tabla 2 de HBO es:', hbo2.shape)

La extension de la tabla de Netflix es: (8807, 12)
La extension de la tabla de Disney es: (1450, 12)
La extension de la tabla de Prime Video es: (9668, 12)
La extension de la tabla 1 de HBO es: (3294, 15)
La extension de la tabla 2 de HBO es: (66393, 5)

Pasamos a ver la informacion de cada dataframe:

In [462]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [463]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [464]:
prime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [465]:
hbo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3294 entries, 0 to 3293
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3294 non-null   object
 1   title                 3294 non-null   object
 2   type                  3294 non-null   object
 3   description           3282 non-null   object
 4   release_year          3294 non-null   int64
 5   age_certification     2086 non-null   object
 6   runtime               3294 non-null   int64
 7   genres                3294 non-null   object
 8   production_countries  3294 non-null   object
 9   seasons               756 non-null    float64
 10  imdb_id               2968 non-null   object
 11  imdb_score            2922 non-null   float64
 12  imdb_votes            2911 non-null   float64
 13  tmdb_popularity       3261 non-null   float64
 14  tmdb_score            3026 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 386.1+ KB

In [466]:
hbo2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66393 entries, 0 to 66392
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  66393 non-null  int64
 1   id         66393 non-null  object
 2   name       66393 non-null  object
 3   character  61888 non-null  object
 4   role       66393 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.5+ MB

De todos las tablas vemos que hay **valores nulos**.

Se observa que la tabla HBO tiene otra estructura distinta al resto.

In [467]:
hbo.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6
1,tm83648,Citizen Kane,MOVIE,"Newspaper magnate, Charles Foster Kane is take...",1941,PG,119,['drama'],['US'],NaN,tt0033467,8.3,433804.0,14.383,8.0
2,tm77588,Casablanca,MOVIE,"In Casablanca, Morocco in December 1941, a cyn...",1942,PG,102,"['drama', 'romance', 'war']",['US'],NaN,tt0034583,8.5,558849.0,20.087,8.2
3,tm82363,The Big Sleep,MOVIE,Private Investigator Philip Marlowe is hired b...,1946,NaN,116,"['thriller', 'crime']",['US'],NaN,tt0038355,7.9,84494.0,12.911,7.7
4,tm84701,The Maltese Falcon,MOVIE,A private detective takes on a case that invol...,1941,NaN,100,"['thriller', 'romance', 'crime']",['US'],NaN,tt0033870,8.0,156603.0,12.788,7.8

Empezando a trabajar sobre la tabla de HBO para homegeneizar con las tablas anteriores vemos que las columnas deben ser las siguientes:
- show_id
- type
- title
- director 
- cast
- country
- date_added
- release_year
- rating
- duration
- listed_in
- description

Creamos las columnas que necesitamos ya que tenemos que separar directores de actores (cast)

In [468]:
hbo['director']= ''
hbo['cast']= ''
hbo['rating'] = ''
hbo['listed_in'] = ''
hbo['date_added'] = ''

Quedando HBO de la sig. manera:

In [469]:
hbo.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,director,cast,rating,listed_in,date_added
0,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,,,,,
1,tm83648,Citizen Kane,MOVIE,"Newspaper magnate, Charles Foster Kane is take...",1941,PG,119,['drama'],['US'],NaN,tt0033467,8.3,433804.0,14.383,8.0,,,,,
2,tm77588,Casablanca,MOVIE,"In Casablanca, Morocco in December 1941, a cyn...",1942,PG,102,"['drama', 'romance', 'war']",['US'],NaN,tt0034583,8.5,558849.0,20.087,8.2,,,,,
3,tm82363,The Big Sleep,MOVIE,Private Investigator Philip Marlowe is hired b...,1946,NaN,116,"['thriller', 'crime']",['US'],NaN,tt0038355,7.9,84494.0,12.911,7.7,,,,,
4,tm84701,The Maltese Falcon,MOVIE,A private detective takes on a case that invol...,1941,NaN,100,"['thriller', 'romance', 'crime']",['US'],NaN,tt0033870,8.0,156603.0,12.788,7.8,,,,,

Se renombran y reordenan nombres de la columnas.

In [470]:
hbo.rename(columns={'id': 'show_id', 'production_countries': 'country', 'duration': 'duration (min)'}, inplace=True)
hbo.head()

,show_id,title,type,description,release_year,age_certification,runtime,genres,country,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,director,cast,rating,listed_in,date_added
0,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,,,,,
1,tm83648,Citizen Kane,MOVIE,"Newspaper magnate, Charles Foster Kane is take...",1941,PG,119,['drama'],['US'],NaN,tt0033467,8.3,433804.0,14.383,8.0,,,,,
2,tm77588,Casablanca,MOVIE,"In Casablanca, Morocco in December 1941, a cyn...",1942,PG,102,"['drama', 'romance', 'war']",['US'],NaN,tt0034583,8.5,558849.0,20.087,8.2,,,,,
3,tm82363,The Big Sleep,MOVIE,Private Investigator Philip Marlowe is hired b...,1946,NaN,116,"['thriller', 'crime']",['US'],NaN,tt0038355,7.9,84494.0,12.911,7.7,,,,,
4,tm84701,The Maltese Falcon,MOVIE,A private detective takes on a case that invol...,1941,NaN,100,"['thriller', 'romance', 'crime']",['US'],NaN,tt0033870,8.0,156603.0,12.788,7.8,,,,,

Reordenamos las columnas de HBO y sacamos algunas que no son de interes.

In [471]:
nuevo_orden = ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration (min)', 'listed_in', 'description']

In [472]:
hbo = hbo.reindex(columns=nuevo_orden)
hbo

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration (min),listed_in,description
0,tm155702,MOVIE,The Wizard of Oz,,,['US'],,1939,,NaN,,Young Dorothy finds herself in a magical world...
1,tm83648,MOVIE,Citizen Kane,,,['US'],,1941,,NaN,,"Newspaper magnate, Charles Foster Kane is take..."
2,tm77588,MOVIE,Casablanca,,,['US'],,1942,,NaN,,"In Casablanca, Morocco in December 1941, a cyn..."
3,tm82363,MOVIE,The Big Sleep,,,['US'],,1946,,NaN,,Private Investigator Philip Marlowe is hired b...
4,tm84701,MOVIE,The Maltese Falcon,,,['US'],,1941,,NaN,,A private detective takes on a case that invol...
...,...,...,...,...,...,...,...,...,...,...,...,...
3289,tm1082718,MOVIE,Romeo Santos: Utopia Live from MetLife Stadium,,,['PR'],,2021,,NaN,,In this Concert he focuses on the star and mos...
3290,tm1067128,MOVIE,Algo Azul,,,['PA'],,2021,,NaN,,Romantic comedy...coming soon.
3291,tm1121489,MOVIE,Entre Nos: What She Said,,,[],,2021,,NaN,,A stand-up comedy special featuring Shari Diaz...
3292,tm1121486,MOVIE,Entre Nos: The Winners 2,,,[],,2021,,NaN,,Comedy special starring winners of the second ...
3293,tm989132,MOVIE,The Infamous Future,,,['US'],,2021,,NaN,,The untold story of New York City's Eagle Acad...

Se crea otra columna para identificar cada plataforma.

In [473]:
netflix['platform']='netflix'
disney['platform']='disney'
prime['platform']='prime'
hbo['platform']='hbo'

Podemos ver que los dataframes de Netflix, Prime y Disney tienen en su columna "duration", duracion del film, para algunos casos la cantidad de temporadas (Season nro.) por lo que se va a retrabajar estos df separando agregando la columna seasons.

In [474]:
netflix['duration'].unique()

array(['90 min', '2 Seasons', '1 Season', '91 min', '125 min',
       '9 Seasons', '104 min', '127 min', '4 Seasons', '67 min', '94 min',
       '5 Seasons', '161 min', '61 min', '166 min', '147 min', '103 min',
       '97 min', '106 min', '111 min', '3 Seasons', '110 min', '105 min',
       '96 min', '124 min', '116 min', '98 min', '23 min', '115 min',
       '122 min', '99 min', '88 min', '100 min', '6 Seasons', '102 min',
       '93 min', '95 min', '85 min', '83 min', '113 min', '13 min',
       '182 min', '48 min', '145 min', '87 min', '92 min', '80 min',
       '117 min', '128 min', '119 min', '143 min', '114 min', '118 min',
       '108 min', '63 min', '121 min', '142 min', '154 min', '120 min',
       '82 min', '109 min', '101 min', '86 min', '229 min', '76 min',
       '89 min', '156 min', '112 min', '107 min', '129 min', '135 min',
       '136 min', '165 min', '150 min', '133 min', '70 min', '84 min',
       '140 min', '78 min', '7 Seasons', '64 min', '59 min', '139 min',
       '69 min', '148 min', '189 min', '141 min', '130 min', '138 min',
       '81 min', '132 min', '10 Seasons', '123 min', '65 min', '68 min',
       '66 min', '62 min', '74 min', '131 min', '39 min', '46 min',
       '38 min', '8 Seasons', '17 Seasons', '126 min', '155 min',
       '159 min', '137 min', '12 min', '273 min', '36 min', '34 min',
       '77 min', '60 min', '49 min', '58 min', '72 min', '204 min',
       '212 min', '25 min', '73 min', '29 min', '47 min', '32 min',
       '35 min', '71 min', '149 min', '33 min', '15 min', '54 min',
       '224 min', '162 min', '37 min', '75 min', '79 min', '55 min',
       '158 min', '164 min', '173 min', '181 min', '185 min', '21 min',
       '24 min', '51 min', '151 min', '42 min', '22 min', '134 min',
       '177 min', '13 Seasons', '52 min', '14 min', '53 min', '8 min',
       '57 min', '28 min', '50 min', '9 min', '26 min', '45 min',
       '171 min', '27 min', '44 min', '146 min', '20 min', '157 min',
       '17 min', '203 min', '41 min', '30 min', '194 min', '15 Seasons',
       '233 min', '237 min', '230 min', '195 min', '253 min', '152 min',
       '190 min', '160 min', '208 min', '180 min', '144 min', '5 min',
       '174 min', '170 min', '192 min', '209 min', '187 min', '172 min',
       '16 min', '186 min', '11 min', '193 min', '176 min', '56 min',
       '169 min', '40 min', '10 min', '3 min', '168 min', '312 min',
       '153 min', '214 min', '31 min', '163 min', '19 min', '12 Seasons',
       nan, '179 min', '11 Seasons', '43 min', '200 min', '196 min',
       '167 min', '178 min', '228 min', '18 min', '205 min', '201 min',
       '191 min'], dtype=object)

In [475]:
netflix['duration (min)'] = netflix['duration'].str.extract(r'(\d+) min?')
netflix['seasons'] = netflix['duration'].str.extract(r'(\d+)[^\d]*(?:Season|Seasons)')

In [476]:
netflix.drop('duration', axis=1, inplace=True)

In [477]:
prime['duration (min)'] = prime['duration'].str.extract(r'(\d+) min?')
prime['seasons'] = prime['duration'].str.extract(r'(\d+)[^\d]*(?:Season|Seasons)')

In [478]:
prime.drop('duration', axis=1, inplace=True)

In [479]:
disney['duration (min)'] = disney['duration'].str.extract(r'(\d+) min?')
disney['seasons'] = disney['duration'].str.extract(r'(\d+)[^\d]*(?:Season|Seasons)')

In [480]:
disney.drop('duration', axis=1, inplace=True)

In [481]:
df=pd.concat([netflix,disney,prime,hbo],ignore_index=True)

Se visualiza tamaño del set, en cuanto a filas y columnas.

In [482]:
df.shape

(23219, 14)

In [483]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23219 entries, 0 to 23218
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   show_id         23219 non-null  object
 1   type            23219 non-null  object
 2   title           23219 non-null  object
 3   director        18030 non-null  object
 4   cast            20971 non-null  object
 5   country         13173 non-null  object
 6   date_added      13693 non-null  object
 7   release_year    23219 non-null  int64
 8   rating          22875 non-null  object
 9   listed_in       23219 non-null  object
 10  description     23207 non-null  object
 11  platform        23219 non-null  object
 12  duration (min)  14994 non-null  object
 13  seasons         4928 non-null   object
dtypes: int64(1), object(13)
memory usage: 2.5+ MB

Visualizamos la tabla final.

In [484]:
df.sample(15)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration (min),seasons
17224,s6968,Movie,A New Husband for Christmas,Derrick C. Mullen,"Keyona Bledsoe, Freddie T. Cole Jr., Tamika Fo...",NaN,NaN,2020,13+,"Comedy, Romance, Special Interest",Stan and Kelly Stevenson seem to be more commi...,prime,104,NaN
2497,s2498,Movie,I Will Follow,Ava DuVernay,"Salli Richardson-Whitfield, Michole Briana Whi...",United States,"May 20, 2020",2010,TV-14,"Dramas, Independent Movies, Romantic Movies","Devastated after her aunt dies, Maye moves out...",netflix,80,NaN
13956,s3700,Movie,A Turtle's Tale: Sammy's Adventures,Ben Stassen,"Anthony Anderson, Ed Begley Jr., Pat Carrol, T...",NaN,NaN,2009,7+,"Animation, Kids",Dive into adventure with Sammy the sea turtle ...,prime,86,NaN
17813,s7557,Movie,#Home,Rojin Thomas,"Indrans, Sreenath Bhasi, Vijay Babu, Manju Pil...",NaN,NaN,2021,13+,Drama,"Home is about the humble, technology-challenge...",prime,161,NaN
12611,s2355,TV Show,Ghost Stories,NaN,Greg Ayres,NaN,NaN,2001,18+,Anime,When nearby construction disturbs a spiritual ...,prime,NaN,1
9437,s631,Movie,Lamp Life,Valerie LaPointe,"Annie Potts, Jim Hanks, Ally Maki, Emily Davis",United States,"January 31, 2020",2020,TV-G,"Animation, Comedy, Family",Lamp Life answers the question of what happene...,disney,11,NaN
5643,s5644,Movie,LEGO: Marvel Super Heroes: Maximum Overload,Greg Richardson,"Troy Baker, Drake Bell, Fred Tatasciore, Dee B...",United States,"January 6, 2017",2013,TV-Y7,Children & Family Movies,Villainous Loki is amassing an army to conquer...,netflix,22,NaN
3268,s3269,Movie,House Arrest,"Shashanka Ghosh, Samit Basu","Ali Fazal, Shriya Pilgaonkar, Jim Sarbh, Barkh...",India,"November 15, 2019",2019,TV-14,"Comedies, Independent Movies, International Mo...",A world-weary man’s self-imposed home confinem...,netflix,105,NaN
8689,s8690,Movie,Waiting...,Rob McKittrick,"Ryan Reynolds, Anna Faris, Justin Long, David ...",United States,"September 23, 2020",2005,R,"Comedies, Independent Movies",Employees turn up the antics during an eight-h...,netflix,94,NaN
23,s24,Movie,Go! Go! Cory Carson: Chrissy Takes the Wheel,"Alex Woo, Stanley Moore","Maisie Benson, Paul Killam, Kerry Gudjohnsen, ...",NaN,"September 21, 2021",2021,TV-Y,Children & Family Movies,From arcade games to sled days and hiccup cure...,netflix,61,NaN
22146,tm228664,MOVIE,The Leisure Class,,,['US'],,2015,,,A man attempts to marry into a wealthy family.,hbo,NaN,NaN
21783,ts175209,SHOW,4th and Forever,,,['US'],,2011,,,Focusing on the football stars at Long Beach P...,hbo,NaN,NaN
17289,s7033,Movie,Emerald Run,Eric Etebari,"David Chokachi, Yancy Butler, Sean Burgos, Mic...",United States,NaN,2021,16+,"Action, Drama, Suspense",From emotional turmoil in medical conflict to ...,prime,90,NaN
746,s747,Movie,Awake,Mark Raso,"Gina Rodriguez, Ariana Greenblatt, Frances Fis...",United States,"June 9, 2021",2021,TV-MA,"Dramas, Thrillers",After a global event wipes out humanity's abil...,netflix,97,NaN
13586,s3330,TV Show,Alien Monkeys,NaN,NaN,NaN,NaN,2015,ALL,"Animation, Kids",Alien Monkeys is story about two monkeys explo...,prime,NaN,1

Se visualiza la clasificación.

Vemos diferencia de nombres entre los tipos de produccion "Movie" y "TV Show"

In [485]:
df['type'] = df['type'].replace({'MOVIE': 'Movie', 'SHOW': 'TV Show'})

In [486]:
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [487]:
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

Se observa distinta tipificacion de paises.

In [488]:
valores_unicos = df['country'].unique()
print(valores_unicos)
list(valores_unicos)

['United States' 'South Africa' nan ... "['PR']" "['TR']" "['PA']"]

['United States',
 'South Africa',
 nan,
 'India',
 'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia',
 'United Kingdom',
 'Germany, Czech Republic',
 'Mexico',
 'Turkey',
 'Australia',
 'United States, India, France',
 'Finland',
 'China, Canada, United States',
 'South Africa, United States, Japan',
 'Nigeria',
 'Japan',
 'Spain, United States',
 'France',
 'Belgium',
 'United Kingdom, United States',
 'United States, United Kingdom',
 'France, United States',
 'South Korea',
 'Spain',
 'United States, Singapore',
 'United Kingdom, Australia, France',
 'United Kingdom, Australia, France, United States',
 'United States, Canada',
 'Germany, United States',
 'South Africa, United States',
 'United States, Mexico',
 'United States, Italy, France, Japan',
 'United States, Italy, Romania, United Kingdom',
 'Australia, United States',
 'Argentina, Venezuela',
 'United States, United Kingdom, Canada',
 'China, Hong Kong',
 'Russia',
 'Canada',
 'Hong Kong',
 'United States, China, Hong Kong',
 'Italy, United States',
 'United States, Germany',
 'United Kingdom, Canada, United States',
 ', South Korea',
 'Ireland',
 'India, Nepal',
 'New Zealand, Australia, France, United States',
 'Italy',
 'Italy, Brazil, Greece',
 'Argentina',
 'Jordan',
 'Colombia',
 'United States, Japan',
 'Belgium, United Kingdom',
 'Switzerland, United Kingdom, Australia',
 'Israel, United States',
 'Canada, United States',
 'Brazil',
 'Argentina, Spain',
 'Taiwan',
 'United States, Nigeria',
 'Bulgaria, United States',
 'Spain, United Kingdom, United States',
 'United States, China',
 'United States, France',
 'Spain, France, United Kingdom, United States',
 ', France, Algeria',
 'Poland',
 'Germany',
 'France, Israel, Germany, United States, United Kingdom',
 'New Zealand',
 'Saudi Arabia',
 'Thailand',
 'Indonesia',
 'Egypt, Denmark, Germany',
 'United States, Switzerland',
 'Hong Kong, Canada, United States',
 'Kuwait, United States',
 'France, Canada, United States, Spain',
 'France, Netherlands, Singapore',
 'France, Belgium',
 'Ireland, United States, United Kingdom',
 'Egypt',
 'Malaysia',
 'Israel',
 'Australia, New Zealand',
 'United Kingdom, Germany',
 'Belgium, Netherlands',
 'South Korea, Czech Republic',
 'Australia, Germany',
 'Vietnam',
 'United Kingdom, Belgium',
 'United Kingdom, Australia, United States',
 'France, Japan, United States',
 'United Kingdom, Germany, Spain, United States',
 'United Kingdom, United States, France, Italy',
 'United States, Germany, Canada',
 'United States, France, Italy, United Kingdom',
 'United States, United Kingdom, Germany, Hungary',
 'United States, New Zealand',
 'Sweden',
 'China',
 'Lebanon',
 'Romania',
 'Finland, Germany',
 'Lebanon, Syria',
 'Philippines',
 'Iceland',
 'Denmark',
 'United States, India',
 'Philippines, Singapore, Indonesia',
 'China, United States, Canada',
 'Lebanon, United Arab Emirates',
 'Canada, United States, Denmark',
 'United Arab Emirates',
 'Mexico, France, Colombia',
 'Netherlands',
 'Germany, United States, France',
 'United States, Bulgaria',
 'United Kingdom, France, Germany, United States',
 'Norway, Denmark',
 'Syria, France, Lebanon, Qatar',
 'United States, Czech Republic',
 'Mauritius',
 'Canada, South Africa',
 'Austria',
 'Mexico, Brazil',
 'Germany, France',
 'Mexico, United States',
 'United Kingdom, France, Spain, United States',
 'United States, Australia',
 'United States, United Kingdom, France',
 'United States, Russia',
 'United States, United Kingdom, New Zealand',
 'Australia, United Kingdom',
 'Canada, Nigeria, United States',
 'France, United States, United Kingdom, Canada',
 'France, United Kingdom',
 'India, United Kingdom',
 'Canada, United States, Mexico',
 'United Kingdom, Germany, United States',
 'Czech Republic, United Kingdom, United States',
 'China, United Kingdom',
 'Italy, United Kingdom',
 'China, Taiwan',
 'United States, Brazil, Japan, Spain, India',
 'United States, China, United Kingdom',
 'Cameroon',
 'Lebanon, Palestine, Denmark, Qatar',
 'Japan, United States',
 'Uruguay, Germany',
 'Egypt, Saudi Arabia',
 'United Kingdom, France, Poland, Germany, United States',
 'Ireland, Switzerland, United Kingdom, France, United States',
 'United Kingdom, South Africa, France',
 'Ireland, United Kingdom, France, Germany',
 'Russia, United States',
 'United Kingdom, United States, France',
 'United Kingdom,',
 'United States, India, United Kingdom',
 'Kenya',
 'Spain, Argentina',
 'India, United Kingdom, France, Qatar',
 'Belgium, France',
 'Argentina, Chile',
 'United States, Thailand',
 'Chile, Brazil',
 'United States, Colombia',
 'Canada, United States, United Kingdom',
 'Uruguay',
 'Luxembourg',
 'United States, Cambodia, Romania',
 'Bangladesh',
 'Spain, Belgium, United States',
 'United Kingdom, United States, Australia',
 'Canada, United States, France',
 'Portugal, United States',
 'Portugal, Spain',
 'India, United States',
 'United Kingdom, Ireland',
 'United Kingdom, Spain, United States',
 'Hungary, United States',
 'United States, South Korea',
 'Canada, United States, Cayman Islands',
 'India, France',
 'France, Canada',
 'Canada, Hungary, United States',
 'Norway',
 'Canada, United Kingdom, United States',
 'United Kingdom, Germany, France, United States',
 'Denmark, United States',
 'Senegal',
 'France, Algeria',
 'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland',
 'Philippines, Canada, United Kingdom, United States',
 'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong',
 'Singapore',
 'Kuwait',
 'United States, France, Serbia',
 'United States, Italy',
 'Spain, Italy',
 'United States, Ireland, United Kingdom, India',
 'United Kingdom, Singapore',
 'Hong Kong, United States',
 'United States, Malta, France, United Kingdom',
 'United States, China, Canada',
 'Canada, United States, Ireland',
 'Lebanon, Canada, France',
 'Japan, Canada, United States',
 'Spain, France, Canada',
 'Denmark, Singapore, Canada, United States',
 'United States, France, Denmark',
 'United States, China, Colombia',
 'Spain, Thailand, United States',
 'Mexico, Spain',
 'Ireland, Luxembourg, Belgium',
 'China, United States',
 'Canada, Belgium',
 'Canada, United Kingdom',
 'Lebanon, United Arab Emirates, France, Switzerland, Germany',
 'France, Belgium, Italy',
 'Lebanon, United States, United Arab Emirates',
 'Lebanon, France',
 'France, Lebanon',
 'France, Lebanon, United Kingdom',
 'France, Norway, Lebanon, Belgium',
 'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands',
 'United States, United Kingdom, India',
 'Indonesia, Netherlands',
 'Turkey, South Korea',
 'Serbia, United States',
 'Namibia',
 'United Kingdom, Kenya',
 'United Kingdom, France, Germany, Spain',
 'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany',
 'Thailand, United States',
 'United States, France, Canada, Belgium',
 'United Kingdom, China',
 'Germany, China, United Kingdom',
 'Australia, New Zealand, United States',
 'Hong Kong, Iceland, United States',
 'France, Australia, Germany',
 'United States, Belgium, Canada, France',
 'South Africa, Angola',
 'United States, Philippines',
 'United States, United Kingdom, Canada, China',
 'United States, Canada, United Kingdom',
 'Turkey, United States',
 'Peru, Germany, Norway',
 'Mozambique',
 'Brazil, France',
 'China, Spain, South Korea, United States',
 'Spain, Germany',
 'Hong Kong, China',
 'France, Belgium, Luxembourg, Cambodia,',
 'United Kingdom, Australia',
 'Belarus',
 'Indonesia, United Kingdom',
 'Switzerland, France, Belgium, United States',
 'Ghana',
 'Spain, France, Canada, United States',
 'Chile, Italy',
 'United Kingdom, Nigeria',
 'Chile',
 'France, Egypt',
 'Egypt, France',
 'France, Brazil, Spain, Belgium',
 'Egypt, Algeria',
 'Canada, South Korea, United States',
 'Nigeria, United Kingdom',
 'United States, France, Canada',
 'Poland, United States',
 'United Arab Emirates, Jordan, Lebanon, Saudi Arabia',
 'United States, Mexico, Spain, Malta',
 'Saudi Arabia, United Arab Emirates',
 'Zimbabwe',
 'United Kingdom, Germany, United Arab Emirates, New Zealand',
 'Romania, United States',
 'Canada, Nigeria',
 'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States',
 'United Kingdom, Spain',
 'Finland, France',
 'United Kingdom, Germany, United States, France',
 'India, United Kingdom, China, Canada, Japan, South Korea, United States',
 'Italy, United Kingdom, France',
 'United States, Mexico, Colombia',
 'Turkey, India',
 'Italy, Turkey',
 'United Kingdom, United States, Japan',
 'France, Belgium, United States',
 'Puerto Rico, United States, Colombia',
 'Uruguay, Argentina',
 'United States, United Kingdom, Japan',
 'United States, Argentina',
 'United Kingdom, Italy',
 'Ireland, United Kingdom',
 'United Kingdom, France, Belgium, Canada, United States',
 'Netherlands, Germany, Denmark, United Kingdom',
 'Hungary',
 'Austria, Germany',
 'Taiwan, China',
 'United Kingdom, United States, Ireland',
 'South Korea, United States',
 'Brazil, United Kingdom',
 'Pakistan, United States',
 'Romania, France, Switzerland, Germany',
 'Romania, United Kingdom',
 'France, Malta, United States',
 'Cyprus',
 'United Kingdom, France, Belgium, Ireland, United States',
 'United States, Norway, Canada',
 'Kenya, United States',
 'France, South Korea, Japan, United States',
 'Taiwan, Malaysia',
 'Uruguay, Argentina, Germany, Spain',
 'United States, United Kingdom, France, Germany, Japan',
 'United States, France, Japan',
 'United Kingdom, France, United States',
 'Spain, France, United States',
 'Indonesia, South Korea, Singapore',
 'United States, Spain',
 'Netherlands, Germany, Italy, Canada',
 'Spain, Germany, Denmark, United States',
 'Norway, Sweden',
 'South Korea, Canada, United States, China',
 'Argentina, Uruguay, Serbia',
 'France, Japan',
 'Mauritius, South Africa',
 'United States, Poland',
 'United Kingdom, United States, Germany, Denmark, Belgium, Japan',
 'India, Germany',
 'India, United Kingdom, Canada, United States',
 'Philippines, United States',
 'Romania, Bulgaria, Hungary',
 'Uruguay, Guatemala',
 'France, Senegal, Belgium',
 'United Kingdom, Canada',
 'Mexico, United States, Spain, Colombia',
 'Canada, Norway',
 'Singapore, United States',
 'Finland, Germany, Belgium',
 'United Kingdom, France',
 'United States, Chile',
 'United Kingdom, Japan, United States',
 'Spain, United Kingdom',
 'Argentina, United States, Mexico',
 'United States, South Korea, Japan',
 'Canada, Australia',
 'United Kingdom, Hungary, Australia',
 'Italy, Belgium',
 'United States, United Kingdom, Germany',
 'Switzerland',
 'Singapore, Malaysia',
 'France, Belgium, Luxembourg, Romania, Canada, United States',
 'South Africa, Nigeria',
 'Spain, France',
 'United Kingdom, Hong Kong',
 'Pakistan',
 'Brazil, United States',
 'Denmark, Brazil, France, Portugal, Sweden',
 'India, Turkey',
 'Malaysia, Singapore, Hong Kong',
 'Philippines, Singapore',
 'Australia, Canada',
 'Taiwan, China, France, United States',
 'Germany, Italy',
 'Colombia, Peru, United Kingdom',
 'Thailand, China, United States',
 'Argentina, United States',
 'Sweden, United States',
 'Uruguay, Spain, Mexico',
 'France, Luxembourg, Canada',
 'Denmark, Spain',
 'Chile, Argentina',
 'United Kingdom, Belgium, Sweden',
 'Canada, Brazil',
 'Italy, France',
 'Canada, Germany',
 'Pakistan, United Arab Emirates',
 'Ghana, United States',
 'Mexico, Finland',
 'United Arab Emirates, United Kingdom, India',
 'Netherlands, Belgium',
 'United States, Taiwan',
 'Austria, Iraq, United States',
 'United Kingdom, Malawi',
 'Paraguay, Argentina',
 'United Kingdom, Russia, United States',
 'India, Pakistan',
 'Indonesia, Singapore',
 'Spain, Belgium',
 'Iceland, Sweden, Belgium',
 'Croatia',
 'Uruguay, Argentina, Spain',
 'United Kingdom, Ireland, United States',
 'Canada, Germany, France, United States',
 'United Kingdom, Japan',
 'Norway, Denmark, Netherlands, Sweden',
 'Hong Kong, China, United States',
 'Ireland, Canada',
 'Italy, Switzerland, France, Germany',
 'Mexico, Netherlands',
 'United States, Sweden',
 'Germany, France, Russia',
 'France, Iran, United States',
 'United Kingdom, India',
 'Russia, Poland, Serbia',
 'Spain, Portugal',
 'Peru',
 'Mexico, Argentina',
 'United Kingdom, Canada, United States, Cayman Islands',
 'Indonesia, United States',
 'United States, Israel, United Kingdom, Canada',
 'Norway, Iceland, United States',
 'Czech Republic, United States',
 'United Kingdom, India, United States',
 'United Kingdom, West Germany',
 'India, Australia',
 'United States,',
 'Belgium, United Kingdom, United States',
 'India, Germany, Austria',
 'United States, Brazil, South Korea, Mexico, Japan, Germany',
 'Spain, Mexico',
 'China, Japan',
 'Argentina, France',
 'China, United States, United Kingdom',
 'France, Luxembourg, United States',
 'China, United States, Australia',
 'Colombia, Mexico',
 'United States, Canada, Ireland',
 'Chile, Peru',
 'Argentina, Italy',
 'Canada, Japan, United States',
 'United Kingdom, Canada, United States, Germany',
 'Italy, Switzerland, Albania, Poland',
 'United States, Japan, Canada',
 'Cambodia',
 'Italy, United States, Argentina',
 'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait',
 'United States, Canada, Indonesia, United Kingdom, China, Singapore',
 'Spain, Colombia',
 'United Kingdom, South Africa, Australia, United States',
 'Bulgaria',
 'Argentina, Brazil, France, Poland, Germany, Denmark',
 'United Kingdom, Spain, United States, Germany',
 'Philippines, Qatar',
 'Netherlands, Belgium, Germany, Jordan',
 'United Arab Emirates, United States',
 'Norway, Germany, Sweden',
 'South Korea, China',
 'Georgia',
 'Soviet Union, India',
 'Australia, United Arab Emirates',
 'Canada, Germany, South Africa',
 'South Korea, China, United States',
 'India, Soviet Union',
 'India, Mexico',
 'Georgia, Germany, France',
 'United Arab Emirates, Romania',
 'India, Malaysia',
 'Germany, Jordan, Netherlands',
 'Turkey, France, Germany, Poland',
 'Greece, United States',
 'France, United Kingdom, United States',
 'Norway, Germany',
 'France, Morocco',
 'Cambodia, United States',
 'United States, Denmark',
 'United States, Colombia, Mexico',
 'United Kingdom, Italy, Israel, Peru, United States',
 'Argentina, Uruguay, Spain, France',
 'United Kingdom, France, United States, Belgium',
 'France, Canada, China, Cambodia',
 'United Kingdom, France, Belgium, United States',
 'Chile, France',
 'Netherlands, United States',
 'France, United Kingdom, India',
 'Czech Republic, Slovakia',
 'Singapore, France',
 'Spain, Switzerland',
 'United States, Australia, China',
 'South Africa, United States, Germany',
 'United States, United Kingdom, Australia',
 'Spain, Italy, Argentina',
 'Chile, Spain, Argentina, Germany',
 'West Germany',
 'Austria, Czech Republic',
 'Lebanon, Qatar',
 'United Kingdom, Jordan, Qatar, Iran',
 'France, South Korea, Japan',
 'Israel, Germany, France',
 'Canada, Japan, Netherlands',
 'United States, Hungary',
 'France, Germany',
 'France, Qatar',
 'United Kingdom, Germany, Canada',
 'Ireland, South Africa',
 'Chile, United States, France',
 'Belgium, France, Netherlands',
 'United Kingdom, Ukraine, United States',
 'Germany, Australia, France, China',
 'Norway, United States',
 'United States, Bermuda, Ecuador',
 'United States, Hungary, Ireland, Canada',
 'United Kingdom, Egypt, United States',
 'United States, France, United Kingdom',
 'Spain, Mexico, France',
 'United States, South Africa',
 'Hong Kong, China, Singapore',
 'South Africa, China, United States',
 'Denmark, France, Poland',
 'New Zealand, United Kingdom',
 'Netherlands, Denmark, South Africa',
 'Iran, France',
 'United Kingdom, United States, France, Germany',
 'Australia, France',
 'Ireland, United Kingdom, United States',
 'United Kingdom, France, Germany',
 'Canada, Luxembourg',
 'Brazil, Netherlands, United States, Colombia, Austria, Germany',
 'France, Canada, Belgium',
 'Canada, France',
 'Bulgaria, United States, Spain, Canada',
 'Sweden, Netherlands',
 'France, United States, Mexico',
 'Australia, United Kingdom, United Arab Emirates, Canada',
 'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay',
 'India, Iran',
 'France, Belgium, Spain',
 'Denmark, Sweden, Israel, United States',
 'United States, Iceland',
 'United Kingdom, Russia',
 'United States, Israel, Italy, South Africa',
 'Netherlands, Denmark, France, Germany',
 'South Korea, Japan',
 'United Kingdom, Pakistan',
 'France, New Zealand',
 'United Kingdom, Czech Republic, United States, Germany, Bahamas',
 'China, Germany, India, United States',
 'Germany, Sri Lanka',
 'United States, India, Bangladesh',
 'United States, Canada, France',
 'Brazil, France, Germany',
 'Germany, United States, Hong Kong, Singapore',
 'France, Germany, Switzerland',
 'Germany, France, Luxembourg, United Kingdom, United States',
 'United Kingdom, Canada, Italy',
 'Czech Republic, France',
 'Taiwan, Hong Kong, United States, China',
 'Germany, Australia',
 'United Kingdom, Poland, United States',
 'Denmark, Zimbabwe',
 'United Kingdom, South Africa',
 'Finland, Sweden, Norway, Latvia, Germany',
 'South Africa, United States, New Zealand, Canada',
 'United States, Italy, United Kingdom, Liechtenstein',
 'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom',
 'United States, Australia, Mexico',
 'United Kingdom, Czech Republic, Germany, United States',
 'France, China, Japan, United States',
 'United States, South Korea, China',
 'Germany, Belgium',
 'Pakistan, Norway, United States',
 'United States, Canada, Belgium, United Kingdom',
 'Venezuela',
 'Canada, France, Italy, Morocco, United States',
 'Canada, Spain, France',
 'United States, Indonesia',
 'Spain, France, Italy',
 'United Arab Emirates, United States, United Kingdom',
 'United Kingdom, Israel, Russia',
 'Spain, Cuba',
 'United States, Brazil',
 'United States, France, Mexico',
 'United States, Nicaragua',
 'United Kingdom, United States, Spain, Germany, Greece, Canada',
 'Italy, Canada, France',
 'United Kingdom, Denmark, Canada, Croatia',
 'Italy, Germany',
 'United States, France, United Kingdom, Japan',
 'United States, United Kingdom, Denmark, Sweden',
 'United States, United Kingdom, Italy',
 'United States, France, Canada, Spain',
 'Russia, United States, China',
 'United States, Canada, Germany',
 'Ireland, United States',
 'United States, United Arab Emirates',
 'United States, Ireland',
 'Ireland, United Kingdom, Italy, United States',
 'Poland,',
 'Slovenia, Croatia, Germany, Czech Republic, Qatar',
 'Canada, United Kingdom, Netherlands',
 'United States, Spain, Germany',
 'India, Japan',
 'China, South Korea, United States',
 'United Kingdom, France, Belgium',
 'Canada, Ireland, United States',
 'United Kingdom, United States, Dominican Republic',
 'United States, Senegal',
 'Germany, United Kingdom, United States',
 'South Africa, Germany, Netherlands, France',
 'Canada, United States, United Kingdom, France, Luxembourg',
 'Ireland, United States, France',
 'Germany, United States, Canada',
 'United Kingdom, Germany, Canada, United States',
 'United States, France, Canada, Lebanon, Qatar',
 'Netherlands, Belgium, United Kingdom, United States',
 'France, Belgium, China, United States',
 'United States, Chile, Israel',
 'United Kingdom, Norway, Denmark, Germany, Sweden',
 'Norway, Denmark, Sweden',
 'China, India, Nepal',
 'Colombia, Mexico, United States',
 'United Kingdom, South Korea',
 'Denmark, China',
 'United States, Greece, Brazil',
 'South Korea, France',
 'United States, Australia, Samoa, United Kingdom',
 'Germany, United Kingdom',
 'Argentina, Chile, Peru',
 'Turkey, Azerbaijan',
 'Poland, West Germany',
 'Germany, United States, Sweden',
 'Canada, Spain',
 'United States, Cambodia',
 'United States, Greece',
 'Norway, United Kingdom, France, Ireland',
 'United Kingdom, Poland',

Se carga los códigos de países con su descripción.

In [489]:
paises = pd.read_csv('Otros/paises.csv', encoding='latin1')
paises

    ISO2            ENGLISH
0     AF        Afghanistan
1     AL            Albania
2     DE            Germany
3     DZ            Algeria
4     AD            Andorra
..   ...                ...
245   WF  Wallis and Futuna
246   YE              Yemen
247   DJ           Djibouti
248   ZM             Zambia
249   ZW           Zimbabwe

[250 rows x 2 columns]

Se observa los tipos de datos de Paises.

In [490]:
paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ISO2     249 non-null    object
 1   ENGLISH  250 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

Se renombra nombres de columnas.

In [491]:
paises.rename(columns={'ISO2': 'country', 'ENGLISH': 'PAIS'}, inplace=True)
paises.head()

  country         PAIS
0      AF  Afghanistan
1      AL      Albania
2      DE      Germany
3      DZ      Algeria
4      AD      Andorra

 Del dataframe principal elimina corchetes y comillas de la columna 'country'.

In [492]:
# Crea una tabla de traducción para eliminar los caracteres específicos
translation_table = str.maketrans("", "", "[]'")

# Elimina corchetes y comillas de la columna utilizando la tabla de traducción
df['country'] = df['country'].str.translate(translation_table)

df.sample(15)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration (min),seasons
9814,s1008,Movie,LEGO Star Wars: The New Yoda Chronicles - Clas...,Michael Hegner,"Tom Kane, Anthony Daniels, Matt Sloan, Trevor ...",United States,"November 12, 2019",2014,TV-Y7,"Action-Adventure, Animation, Comedy",The enraged Emperor sends Darth Vader to destr...,disney,24,NaN
19881,s9625,Movie,The Luzhin Defense,Marleen Gorris,"John Turturro, Emily Watson, Geraldine James",NaN,NaN,2000,PG-13,Drama,The story of an eccentric Russian Chess genius...,prime,109,NaN
3072,s3073,Movie,Riot,John Lyde,"Matthew Reese, Dolph Lundgren, Danielle Chuchr...",NaN,"January 1, 2020",2015,TV-MA,Action & Adventure,"Seeking vengeance for the murder of his wife, ...",netflix,88,NaN
9251,s445,Movie,The Peanuts Movie,Steve Martino,"Noah Schnapp, Alex Garfin, Hadley Miller, Mari...",United States,"August 7, 2020",2015,G,"Animation, Comedy, Family",Snoopy takes to the skies against The Red Baro...,disney,89,NaN
8990,s184,Movie,"The Good, The Bart, and The Loki",David Silverman,"Dan Castellaneta, Nancy Cartwright, Yeardley S...",NaN,"July 7, 2021",2021,TV-PG,"Animation, Comedy, Fantasy","Banished from Asgard once again, Loki takes on...",disney,6,NaN
12992,s2736,Movie,Damien Jurado,NaN,NaN,NaN,NaN,2011,NR,Music Videos and Concerts,"Unplugged and seated, Damien Jurado channels N...",prime,43,NaN
6718,s6719,TV Show,Exclusive Edition,James Lee,"Berg Lee, Yise Loo, Alvin Wong, Hady, Monday K...",NaN,"August 14, 2017",2008,TV-14,"International TV Shows, TV Dramas",Young journalists working for a magazine juggl...,netflix,NaN,1
16527,s6271,TV Show,Talk to Her,NaN,"Anastasia Ivanova, Grigoriy Baklanov, Elizavet...",NaN,NaN,2020,16+,Drama,Katya and Sasha have been friends since childh...,prime,NaN,1
6653,s6654,Movie,Dukhtar,Afia Nathaniel,"Samiya Mumtaz, Mohib Mirza, Saleha Aref, Asif ...","Pakistan, Norway, United States","September 1, 2016",2014,TV-14,"Dramas, Independent Movies, International Movies",A young mother embarks on a desperate quest fo...,netflix,93,NaN
7852,s7853,Movie,Rembat,Shamyl Othman,"Shaheizy Sam, Aniu, Zizan Razak, Zara Zya, Arj...",Malaysia,"August 21, 2017",2015,TV-PG,"Action & Adventure, Comedies, International Mo...",Two huge soccer fans must go on a rambunctious...,netflix,88,NaN
12573,s2317,Movie,Goin' South,Jack Nicholson,"Jack Nicholson, Mary Steenburgen, Christopher ...",NaN,NaN,1978,PG,"Comedy, Western",According to the laws of the Old West town whe...,prime,108,NaN
20549,tm57296,Movie,Fanny and Alexander,,,"SE, DE, FR",,1982,,,"As children in the loving Ekdahl family, Fanny...",hbo,NaN,NaN
15294,s5038,Movie,Prey Before You Eat 2,Jamal Doctor,"Yellow Diamonds, Racquel Mills, Kyah Baby, Pri...",NaN,NaN,2021,18+,"Action, Drama","Part 2... After losing her best friend, Keisha...",prime,92,NaN
18940,s8684,Movie,Man and Boy,Simon Curtis,"Ioan Gruffudd, Natasha Little, Ian McShane, Pa...",NaN,NaN,2002,16+,Drama,Adapted from the bestselling novel by Tony Par...,prime,103,NaN
1779,s1780,TV Show,Marvel's Agents of S.H.I.E.L.D.,NaN,"Clark Gregg, Ming-Na Wen, Brett Dalton, Chloe ...",United States,"October 30, 2020",2020,TV-14,"TV Action & Adventure, TV Sci-Fi & Fantasy","Agent Phil Coulson, seen in action in Marvel's...",netflix,NaN,7

Se trabaja con dataframes auxiliares para unificar las descripciones de los paises.

In [493]:
df2 = pd.DataFrame()
df2['country'] = df['country']   #me llevo la col. country del df ppal.
df2

             country
0      United States
1       South Africa
2                NaN
3                NaN
4              India
...              ...
23214             PR
23215             PA
23216
23217
23218             US

[23219 rows x 1 columns]

In [494]:
df2 = pd.DataFrame()
df3 = pd.merge(df2,paises,how='outer',left_index=True, right_index=True) # merge con paises
df3

    country               PAIS
0        AF        Afghanistan
1        AL            Albania
2        DE            Germany
3        DZ            Algeria
4        AD            Andorra
..      ...                ...
245      WF  Wallis and Futuna
246      YE              Yemen
247      DJ           Djibouti
248      ZM             Zambia
249      ZW           Zimbabwe

[250 rows x 2 columns]

Reemplazo los valores nulos de country antes de hacer el merge.

In [495]:
df['country'].fillna('unknown', inplace=True) 
df.sample(15)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration (min),seasons
20808,tm11388,Movie,Freddy's Dead: The Final Nightmare,,,US,,1991,,,"Just when you thought it was safe to sleep, Fr...",hbo,NaN,NaN
9268,s462,Movie,Pirates of the Caribbean: Dead Men Tell No Tales,"Joachim Rønning, Espen Sandberg","Johnny Depp, Javier Bardem, Brenton Thwaites, ...",United States,"July 24, 2020",2017,PG-13,"Action-Adventure, Fantasy",Captain Jack Sparrow searches for the Trident ...,disney,129,NaN
22741,ts249862,TV Show,The Secret Lives Of Big Cats,,,,,2020,,,"Big cat populations are shrinking fast, but no...",hbo,NaN,NaN
15112,s4856,Movie,Afternoon Delight,Joey Soloway,"Kathryn Hahn, Jane Lynch, Josh Radnor, Juno Te...",unknown,NaN,2013,R,"Comedy, Drama",In this sexy comedy starring Glee's Jane Lynch...,prime,98,NaN
15690,s5434,Movie,Sunstroke,Nikita Mikhalkov,"Martinsh Kalita, Viktoriya Solovyova, Aleksand...",unknown,NaN,2020,16+,"Drama, Romance",Academy Award winner Nikita Mikhalkov delivers...,prime,159,NaN
7990,s7991,Movie,SGT. Will Gardner,Max Martini,"Max Martini, Omari Hardwick, Lily Rabe, Elisab...",United States,"May 19, 2019",2019,TV-MA,Dramas,A homeless vet who has PTSD steals a motorcycl...,netflix,125,NaN
18641,s8385,Movie,Men of the Month,Jean Stewart,"Douglas Hodge, Akim Mogaji, Claire Higgins",unknown,NaN,1994,18+,Drama,"Tracey is a hyperactive, inarticulate bicycle ...",prime,73,NaN
2376,s2377,Movie,The Land,Youssef Chahine,"Hamdy Ahmed, Nagwa Ibrahim, Ezzat El Alaili, T...",Egypt,"June 18, 2020",1970,TV-MA,"Classic Movies, Dramas, International Movies",A group of peasant farmers fights to protect t...,netflix,130,NaN
22576,ts236846,TV Show,The Head,,,"ES, SE, JP",,2020,,,Ten scientists trapped in a mobile science lab...,hbo,NaN,NaN
13526,s3270,Movie,Among Us,Caroline Cory,Dean Radin,unknown,NaN,2020,13+,"Documentary, Drama, Special Interest",This award-winning documentary is based on the...,prime,94,NaN
6409,s6410,Movie,Camera Store,Scott Marshall Smith,"John Larroquette, John Rhys-Davies, Paul Ben-V...",United States,"August 20, 2017",2016,TV-MA,"Comedies, Dramas",With the digital revolution just around the co...,netflix,104,NaN
14923,s4667,Movie,Meteor Moon,Brian Nowak,"Dominique Swain, Michael Broderick, Chris Boud...",unknown,NaN,2019,13+,"Action, Science Fiction",When a meteor crashes into the moon and shifts...,prime,88,NaN
1582,s1583,Movie,Triple 9,John Hillcoat,"Casey Affleck, Chiwetel Ejiofor, Anthony Macki...",United States,"December 8, 2020",2016,R,"Dramas, Thrillers",A group of dirty Atlanta cops blackmailed by t...,netflix,115,NaN
698,s699,Movie,Fan Girl,Antoinette Jadaone,"Charlie Dizon, Paulo Avelino",Philippines,"June 17, 2021",2020,TV-MA,"Dramas, Independent Movies, International Movies",An infatuated fan finds an unexpected way to m...,netflix,101,NaN
15731,s5475,Movie,"Little Baby Bum - Heads, Shoulders, Knees and ...",Cannis Holder,"Grace Tamayo, Erin Webbs",unknown,NaN,2020,ALL,Kids,"Little Baby Bum is a fun, educational children...",prime,35,NaN

Realiza un merge para unir con df ppal. de descripción de paises.

In [496]:
df = pd.merge(df, df3, left_on='country', right_on='country', how='left')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration (min),seasons,PAIS
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",netflix,90,NaN,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix,NaN,2,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",unknown,"September 24, 2021",2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,netflix,NaN,1,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,unknown,"September 24, 2021",2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",netflix,NaN,1,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,netflix,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23802,tm1082718,Movie,Romeo Santos: Utopia Live from MetLife Stadium,,,PR,,2021,,,In this Concert he focuses on the star and mos...,hbo,NaN,NaN,Puerto Rico
23803,tm1067128,Movie,Algo Azul,,,PA,,2021,,,Romantic comedy...coming soon.,hbo,NaN,NaN,Panama
23804,tm1121489,Movie,Entre Nos: What She Said,,,,,2021,,,A stand-up comedy special featuring Shari Diaz...,hbo,NaN,NaN,NaN
23805,tm1121486,Movie,Entre Nos: The Winners 2,,,,,2021,,,Comedy special starring winners of the second ...,hbo,NaN,NaN,NaN
23806,tm989132,Movie,The Infamous Future,,,US,,2021,,,The untold story of New York City's Eagle Acad...,hbo,NaN,NaN,United States of America

Reemplazar los valores de PAIS que sean nulos por los valores de country

In [497]:

df['PAIS'] = df['PAIS'].replace('unknown', np.nan)
df['PAIS'] = df['PAIS'].fillna(df['country'])

In [498]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration (min),seasons,PAIS
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",netflix,90,NaN,United States
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix,NaN,2,South Africa
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",unknown,"September 24, 2021",2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,netflix,NaN,1,unknown
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,unknown,"September 24, 2021",2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",netflix,NaN,1,unknown
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,netflix,NaN,2,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23802,tm1082718,Movie,Romeo Santos: Utopia Live from MetLife Stadium,,,PR,,2021,,,In this Concert he focuses on the star and mos...,hbo,NaN,NaN,Puerto Rico
23803,tm1067128,Movie,Algo Azul,,,PA,,2021,,,Romantic comedy...coming soon.,hbo,NaN,NaN,Panama
23804,tm1121489,Movie,Entre Nos: What She Said,,,,,2021,,,A stand-up comedy special featuring Shari Diaz...,hbo,NaN,NaN,
23805,tm1121486,Movie,Entre Nos: The Winners 2,,,,,2021,,,Comedy special starring winners of the second ...,hbo,NaN,NaN,
23806,tm989132,Movie,The Infamous Future,,,US,,2021,,,The untold story of New York City's Eagle Acad...,hbo,NaN,NaN,United States of America

Se corrobora cantidad de datos non-null.

In [499]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23807 entries, 0 to 23806
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   show_id         23807 non-null  object
 1   type            23807 non-null  object
 2   title           23807 non-null  object
 3   director        18618 non-null  object
 4   cast            21559 non-null  object
 5   country         23807 non-null  object
 6   date_added      14281 non-null  object
 7   release_year    23807 non-null  int64
 8   rating          23463 non-null  object
 9   listed_in       23807 non-null  object
 10  description     23795 non-null  object
 11  platform        23807 non-null  object
 12  duration (min)  14994 non-null  object
 13  seasons         4928 non-null   object
 14  PAIS            23807 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.9+ MB

Se acomoda el orden de las columnas

In [500]:
df = df[['show_id', 'type', 'title', 'director', 'cast', 'PAIS', 'country', 'date_added', 'release_year', 'rating', 'listed_in', 'description', 'platform', 'duration (min)', 'seasons' ]]

df.head()

,show_id,type,title,director,cast,PAIS,country,date_added,release_year,rating,listed_in,description,platform,duration (min),seasons
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,United States,"September 25, 2021",2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",netflix,90,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,South Africa,"September 24, 2021",2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix,NaN,2
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",unknown,unknown,"September 24, 2021",2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,netflix,NaN,1
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,unknown,unknown,"September 24, 2021",2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",netflix,NaN,1
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,India,"September 24, 2021",2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,netflix,NaN,2

Elimina una columna específica utilizando drop()

In [501]:
df = df.drop('country', axis=1)
df.head()

,show_id,type,title,director,cast,PAIS,date_added,release_year,rating,listed_in,description,platform,duration (min),seasons
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",netflix,90,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix,NaN,2
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",unknown,"September 24, 2021",2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,netflix,NaN,1
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,unknown,"September 24, 2021",2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",netflix,NaN,1
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,netflix,NaN,2

Se renombra a la columna PAIS.

In [502]:
df.rename(columns={'PAIS': 'country'}, inplace=True)
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration (min),seasons
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",netflix,90,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix,NaN,2
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",unknown,"September 24, 2021",2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,netflix,NaN,1
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,unknown,"September 24, 2021",2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",netflix,NaN,1
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,netflix,NaN,2

Se revisa el formato del campo fecha y se adeacua al que conocemos.

In [503]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23807 entries, 0 to 23806
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   show_id         23807 non-null  object
 1   type            23807 non-null  object
 2   title           23807 non-null  object
 3   director        18618 non-null  object
 4   cast            21559 non-null  object
 5   country         23807 non-null  object
 6   date_added      14281 non-null  object
 7   release_year    23807 non-null  int64
 8   rating          23463 non-null  object
 9   listed_in       23807 non-null  object
 10  description     23795 non-null  object
 11  platform        23807 non-null  object
 12  duration (min)  14994 non-null  object
 13  seasons         4928 non-null   object
dtypes: int64(1), object(13)
memory usage: 2.7+ MB

In [504]:
import datetime

In [505]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

Se verifica el cambio.

In [506]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23807 entries, 0 to 23806
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   show_id         23807 non-null  object
 1   type            23807 non-null  object
 2   title           23807 non-null  object
 3   director        18618 non-null  object
 4   cast            21559 non-null  object
 5   country         23807 non-null  object
 6   date_added      10399 non-null  datetime64[ns]
 7   release_year    23807 non-null  int64
 8   rating          23463 non-null  object
 9   listed_in       23807 non-null  object
 10  description     23795 non-null  object
 11  platform        23807 non-null  object
 12  duration (min)  14994 non-null  object
 13  seasons         4928 non-null   object
dtypes: datetime64[ns](1), int64(1), object(12)
memory usage: 2.7+ MB

In [507]:
#hbof.loc[hbof['role'] == 'ACTOR', 'cast'] = hbof.loc[hbof['role'] == 'ACTOR', 'name'] Si se llega a trabajar con la tabla

Control de duplicados

In [508]:
df.duplicated().sum()

0

Se verifica valores para rating.

In [509]:
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR', '13+', 'ALL', '18+', '16+', '7+', 'TV-NR',
       'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES', 'NOT_RATE',
       ''], dtype=object)

Completamos los campos nulos.

Las fechas se completaron con el promedio

In [510]:
df['date_added'] = pd.to_datetime(df['date_added'])
promedio_date_added = df['date_added'].mean()
df['date_added']=df['date_added'].fillna(promedio_date_added)

df['date_added'].isna().value_counts()

False    23807
Name: date_added, dtype: int64

In [511]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23807 entries, 0 to 23806
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   show_id         23807 non-null  object
 1   type            23807 non-null  object
 2   title           23807 non-null  object
 3   director        18618 non-null  object
 4   cast            21559 non-null  object
 5   country         23807 non-null  object
 6   date_added      23807 non-null  datetime64[ns]
 7   release_year    23807 non-null  int64
 8   rating          23463 non-null  object
 9   listed_in       23807 non-null  object
 10  description     23795 non-null  object
 11  platform        23807 non-null  object
 12  duration (min)  14994 non-null  object
 13  seasons         4928 non-null   object
dtypes: datetime64[ns](1), int64(1), object(12)
memory usage: 2.7+ MB

Se reemplaza valores vacios para ciertos campos.

In [512]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration (min),seasons
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25 00:00:00.000000000,2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",netflix,90,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24 00:00:00.000000000,2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix,NaN,2
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",unknown,2021-09-24 00:00:00.000000000,2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,netflix,NaN,1
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,unknown,2021-09-24 00:00:00.000000000,2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",netflix,NaN,1
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24 00:00:00.000000000,2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,netflix,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23802,tm1082718,Movie,Romeo Santos: Utopia Live from MetLife Stadium,,,Puerto Rico,2019-07-19 14:45:16.184248320,2021,,,In this Concert he focuses on the star and mos...,hbo,NaN,NaN
23803,tm1067128,Movie,Algo Azul,,,Panama,2019-07-19 14:45:16.184248320,2021,,,Romantic comedy...coming soon.,hbo,NaN,NaN
23804,tm1121489,Movie,Entre Nos: What She Said,,,,2019-07-19 14:45:16.184248320,2021,,,A stand-up comedy special featuring Shari Diaz...,hbo,NaN,NaN
23805,tm1121486,Movie,Entre Nos: The Winners 2,,,,2019-07-19 14:45:16.184248320,2021,,,Comedy special starring winners of the second ...,hbo,NaN,NaN
23806,tm989132,Movie,The Infamous Future,,,United States of America,2019-07-19 14:45:16.184248320,2021,,,The untold story of New York City's Eagle Acad...,hbo,NaN,NaN

In [513]:
df['rating'].fillna('UNRATED', inplace=True) #VER LISTADO

In [514]:
df['listed_in'].fillna('unknown', inplace=True) #VER LISTADO

In [515]:
df['description'].fillna('No Description', inplace=True) #VER LISTADO

Debe ser del tipo entero la duracion.

In [516]:
df['duration (min)'] = df['duration (min)'].fillna(0).astype(int)

In [517]:
df['duration (min)'] = df['duration (min)'].astype(int)

In [518]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23807 entries, 0 to 23806
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   show_id         23807 non-null  object
 1   type            23807 non-null  object
 2   title           23807 non-null  object
 3   director        18618 non-null  object
 4   cast            21559 non-null  object
 5   country         23807 non-null  object
 6   date_added      23807 non-null  datetime64[ns]
 7   release_year    23807 non-null  int64
 8   rating          23807 non-null  object
 9   listed_in       23807 non-null  object
 10  description     23807 non-null  object
 11  platform        23807 non-null  object
 12  duration (min)  23807 non-null  int32
 13  seasons         4928 non-null   object
dtypes: datetime64[ns](1), int32(1), int64(1), object(11)
memory usage: 2.6+ MB

In [519]:
df['seasons'].fillna('unknown', inplace=True) #VER LISTADO

Se verifica cantidad de directores.

In [520]:
np.size(df['director'].unique())

10105

Hay 10.105 directores unicos en de las 23.219 peliculas

Se calcula cantidad de peliculas clasificadas en rating.

In [521]:
df['rating'].value_counts()

            3882
TV-MA       3284
TV-14       2447
13+         2117
R           1809
16+         1547
TV-PG       1333
ALL         1268
18+         1243
PG-13        949
PG           776
TV-G         619
TV-Y7        504
TV-Y         431
G            387
7+           385
UNRATED      377
NR           303
TV-NR        105
TV-Y7-FV      19
NC-17          6
UR             3
AGES_18_       3
NOT_RATE       3
AGES_16_       2
74 min         1
66 min         1
84 min         1
16             1
ALL_AGES       1
Name: rating, dtype: int64

In [522]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,platform,duration (min),seasons
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25 00:00:00.000000000,2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",netflix,90,unknown
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24 00:00:00.000000000,2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix,0,2
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",unknown,2021-09-24 00:00:00.000000000,2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,netflix,0,1
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,unknown,2021-09-24 00:00:00.000000000,2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",netflix,0,1
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24 00:00:00.000000000,2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,netflix,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23802,tm1082718,Movie,Romeo Santos: Utopia Live from MetLife Stadium,,,Puerto Rico,2019-07-19 14:45:16.184248320,2021,,,In this Concert he focuses on the star and mos...,hbo,0,unknown
23803,tm1067128,Movie,Algo Azul,,,Panama,2019-07-19 14:45:16.184248320,2021,,,Romantic comedy...coming soon.,hbo,0,unknown
23804,tm1121489,Movie,Entre Nos: What She Said,,,,2019-07-19 14:45:16.184248320,2021,,,A stand-up comedy special featuring Shari Diaz...,hbo,0,unknown
23805,tm1121486,Movie,Entre Nos: The Winners 2,,,,2019-07-19 14:45:16.184248320,2021,,,Comedy special starring winners of the second ...,hbo,0,unknown
23806,tm989132,Movie,The Infamous Future,,,United States of America,2019-07-19 14:45:16.184248320,2021,,,The untold story of New York City's Eagle Acad...,hbo,0,unknown

In [68]:
netflix['duration (min)'] = netflix['duration'].str.extract(r'(\d+) min?')

In [8]:
netflix['duration (min)'].unique

<bound method Series.unique of 0        90
1       NaN
2       NaN
3       NaN
4       NaN
       ...
8802    158
8803    NaN
8804     88
8805     88
8806    111
Name: duration (min), Length: 8807, dtype: object>

In [8]:
import io
import pandas as pd

In [9]:
netflix['duration (min)'].unique

<bound method Series.unique of 0        90
1       NaN
2       NaN
3       NaN
4       NaN
       ...
8802    158
8803    NaN
8804     88
8805     88
8806    111
Name: duration (min), Length: 8807, dtype: object>

In [12]:
netflix.dtypes

show_id           object
type              object
title             object
director          object
cast              object
country           object
date_added        object
release_year       int64
rating            object
duration          object
listed_in         object
description       object
duration (min)    object
dtype: object

In [13]:
netflix['duration (min)'].dtypes

dtype('O')

In [69]:
netflix['duration (min)'] = netflix['duration'].str.extract(r'(\d+) min?')
netflix['seasons'] = netflix['duration'].str.extract(r'(\d+)[^\d]*(?:Season|Seasons)')

In [20]:
netflix['seasons']

0       NaN
1         2
2         1
3         1
4         2
       ...
8802    NaN
8803      2
8804    NaN
8805    NaN
8806    NaN
Name: seasons, Length: 8807, dtype: object

In [21]:
netflix['seasons'].value_counts()

1     1793
2      425
3      199
4       95
5       65
6       33
7       23
8       17
9        9
10       7
13       3
15       2
12       2
11       2
17       1
Name: seasons, dtype: int64

In [62]:
disney['release_year'].value_counts()

2021    125
2020    114
2019     99
2017     69
2018     65
       ...
1928      1
1944      1
1970      1
1945      1
1968      1
Name: release_year, Length: 90, dtype: int64

In [40]:
netflix['seasons'].describe()

count     2676
unique      15
top          1
freq      1793
Name: seasons, dtype: object

In [61]:
disney['release_year'].describe()

count    1450.000000
mean     2003.091724
std        21.860162
min      1928.000000
25%      1999.000000
50%      2011.000000
75%      2018.000000
max      2021.000000
Name: release_year, dtype: float64

In [25]:
disney.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [63]:
display(netflix.groupby(by='rating', as_index=False).agg({'show_id':'count'}).sort_values('show_id', ascending=False).head(10))

   rating  show_id
11  TV-MA     3207
9   TV-14     2160
12  TV-PG      863
8       R      799
7   PG-13      490
14  TV-Y7      334
13   TV-Y      307
6      PG      287
10   TV-G      220
5      NR       80

In [27]:
display(disney.groupby(by='rating', as_index=False).agg({'show_id':'count'}).sort_values('show_id', ascending=False).head(10))

     rating  show_id
4      TV-G      318
5     TV-PG      301
0         G      253
1        PG      236
7     TV-Y7      131
3     TV-14       79
2     PG-13       66
6      TV-Y       50
8  TV-Y7-FV       13

In [64]:
desviacion_estandar_disney=disney['release_year'].std(ddof=1)

In [65]:
desviacion_estandar_disney

21.860161644933445

In [72]:
varianza_disney_poblacional = disney['release_year'].var(ddof=0)
varianza_disney_poblacional

477.5371039239002

In [73]:
varianza_disney_muestral = disney['release_year'].var(ddof=1)

In [74]:
varianza_disney_muestral

477.86666714261924

In [ ]:
varianza_netflix_poblacional = netflix['release_year'].var(ddof=0)

In [75]:
varianza_netflix_poblacional

77.77143481960121

In [76]:
varianza_netflix_muestral = netflix['release_year'].var(ddof=1)

In [77]:
varianza_netflix_muestral

77.78026646107516